*{
  margin: 0;
  padding: 0;
  font-family: Consolas;
}


#top, #bottom, #left, #right {
	background: #797A7B;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 7px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 7px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }



      header{
           background-image: url(logo.png);
           height: 100vh;
           background-size: cover;
           background-position: center;
          }


                     

ul{
  float: right;
  list-style-type:none;
  margin-top: 50px;
  <!-- previously 25px-->
  
  }

ul li{
    display: inline-block;
}

ul li a{
       text-decoration: none;
       color: grey;
       padding: 5px 20px;
       border: 1px solid transparent;
       transition:0.4s ease;
}
 
ul li a:hover{
         background-color: #EFF0F2;
         color: #000;
      }

ul li.active a{
              background-color: #EFF0F2;
              color: #000;
      }



.logo img{
         float: left;
         width: 55px;
         height: auto;
         margin-top: 23px;
} 




.main {
    max-width: 1200px;
    margin: auto;
}