*{
    margin: 0;
    padding: 0;
    
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(156, 156, 156); 
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110); 
  }



header{
   /* background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img1.jpg);*/
    height:10vh;
    background-size: cover;
    background-position: center;
    
}

ul{
    list-style-type: none;
    float: right;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #444040;
    padding: 5px 20px;
    
    transition: 0.6s ease;
}

ul li a:hover{
    background-color:rgb(255, 250, 250);
    color: #000000;
}

/*Some of the code used for embedding the PDF document has been referred from W3Schools
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }                            
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }                            
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }                            
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
                                                                                                                                             

.logo img{
    float: left;
    width: 80px;
    height: 22px;
    margin-top: 23px;
    margin-left: 23px;
} 

.heading {
    color: rgb(46, 46, 46);
    font-size: 1.6rem;
    font-family: calibri;
    text-align: center;
    line-height: 40vh;
    
}

span{
    opacity: 0;
    transition: all 0.6s ease;
}

span.fade{
    opacity: 1;
}

main{
    margin-top: 12%;    
    }

#intro{
    font-size: 24px;
}

.para{
    /*margin-top: 60px;*/
  /*  margin-left: 30px;
    margin-right: 30px;
    font-family: calibri;*/
    text-align: center;    
    color: #2c2c2c;
    font-family: 'Quicksand', sans-serif;

}

#work{
    text-align: center;
    font-size:50px; 
    color:#2c2c2c;
}

.boxes
{
/*    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;*/
    position: relative;
    width: 450	px;
    align-items: center;
    height:auto;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 30px;
    

}
/*.box
{
position: relative;
background: chartreuse;
padding: 20px 40px 40px;
text-align: center;
overflow: hidden;
border-radius: 20px;
height: 190px;

}
.boxes .image .box:nth-child(1){
 
    background: linear-gradient(45deg,#036eb7,#64eaff);
}
.boxes .image .box .voice
{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 100px;
    color: #fff;
    z-index: 1;
    opacity: 0.7;
}
*/


.image{
    position: relative;
    /*width: 400px;
    height: 250px;*/
    width: 100%;
    height:250px;
    
    
    
}

.image__img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color:#fff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
border-radius: 20px;


}

.image__overlay--blur{
    backdrop-filter: blur(5px);
}
.image__overlay > *{
transform: translateY(20px);
transition: transform 0.25s;
}

.image__overlay:hover{
    opacity: 1;
}

.image__overlay:hover > *
{
transform: translateY(0);
    
}

.image__title
{
    font-size: 2em;
    font-weight: bold;
    text-align: center;

}

.image__description
{
    font-size: 1.25em;
    margin-top: 0.25em;
    text-align: center;

}

.contact
{ 
position: absolute;
left: 50%;
 /*bottom: 10px;*/
 margin-top: 15%;
 transform: translate(-50%, -50%);
 /*margin: 0 auto;*/
 
}       

.container
    {
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 240px;
     height: 64px;
     border-radius: 80px;
    }

html {
        scroll-behavior: smooth;
      }

footer {
        background: #262b5c;
        color: #fff;
        text-align: center;
        padding: 40px 0;
    }

#contactMe{
        font-size:25px; 
        color:#f1f1f1";
    }